*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 50px;
    box-shadow: 20px 15px 5px rgb(41, 41, 41);
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 132, 255);
    border-radius: 30px;
    margin: 15px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.textContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
    font-size: 30px;
}

p{
    margin: 20px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}